<head>
    <link rel="stylesheet" href="fuel-quote.component.css">
</head>

<body>
    <div style="margin-top: 2%; margin-bottom: 5%">
        <mat-card style="height: 150px; text-align: center;">
            <h1 style="margin-top: 2%">Fuel Quote Form</h1>
            <p>Please Fill In All Fields Correctly</p>
        </mat-card>
    </div>
    <div>
        <mat-card style="width: 50%; margin-left: 25%">
            <form #quote ="ngForm" (ngSubmit)="onSubmit(quote.value)" style = "margin-top: 3%; margin-bottom: 3%">
                <label for="gallons" class="required">Gallons requested:
                </label><br>
                <input type="number" id="gallons" name="gallons" required="required" pattern="[1-9]" min="1" title="Only numbers" ngModel>
                <br><br>
                <label for="deliveryDate" class="required">Delivery Date:
                </label><br>
                <input type="date" name="date" id="date" required="required" [min]="currentDate" ngModel>
                <br><br>

                <label for="address">Adress:
                </label><br>
                <p >{{currentUser['address1']}}</p>
                <!--seems I do not need this special date selector as the default is better-->
                <!--<mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker>
            <br>-->
            
                    <p *ngIf="displayError" style="color: red">Please enter all required fields correctly</p>

                <button mat-raised-button type="button" (click)="getPrice()" style="background-color: rgb(81, 240, 81); border-color: rgb(81, 240, 77);">
                    Get Quote
                </button>
                <br><br>

                <!--This will be pulled from Client Info eventually-->


                <!--This will be calculated when backend is implimented-->
                <label for="pricePerGallon" *ngIf="gotPrice" >Price:
                </label><br>
                <p *ngIf="gotPrice">{{response['suggestedPrice']}}</p>

                <!--This will be calculated when backend is implimented-->
                <label *ngIf="gotPrice" for="priceTotal">Total Price:
                </label>
                <p *ngIf="gotPrice" >{{response['totalPrice']}}</p>
                
                <br><br>
                <button *ngIf="gotPrice" mat-raised-button type="submit" style="background-color: rgb(81, 240, 81); border-color: rgb(81, 240, 77);">
                    Submit Quote
                </button>

            </form>
            <P *ngIf="notFilled" style = "color: red">Please Fill In All Data</P>
        </mat-card>
    </div>
</body>

<style>
    .required:after {
      content:" *";
      color: red;
    }
</style>