<head>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div style="margin-top: 2%">
            <h1 style="margin-top: 3%">Login</h1>
    </div>
     <!--Username entry-->
    <div style = "margin-top: 4%">
        <mat-card style = "width: 28%; height: 55%; margin-left: 36%">
            <form #login ="ngForm" style = "margin-top: 5%; margin-bottom: 5%" (ngSubmit)="onSubmit(login.value)">
                <label for = "username" class="required">Username:
            </label><br>
                <input type="text" id="username" name="username" required = "required" pattern="[A-Za-z1-9]" ngModel
                title="Only letters or numbers">
            <br><br>
        
            <!--Password entry-->
                <label for = "password" class="required">Password:
            </label><br>
                <input type="password" id="password" name="password" required="required" ngModel
                    title="must be longer than 8 characters" >
            <br><br><br>
        
            <!--Submit-->
                <button mat-raised-button type="submit" value="submit"
                    style="background-color: rgb(81, 240, 81); border-color: rgb(81, 240, 77);"> Submit 
                </button>
                <br><br><br>
                
            <!--Link to registry page-->
                <a href="http://localhost:4200/client-registration">Need to register? Click here.</a>
            </form>
            <p style = "color: red">{{errorString}}</p>
        </mat-card>
    </div>
</body>

<style>
    .required:after {
      content:" *";
      color: red;
    }
</style>