<div style="margin-top: 2%">
    <mat-card style="height: 150px; text-align: center;">
        <h1 style="margin-top: 2%">Fuel Quote History</h1>
        <p>This Page Displays All Previous Quotes</p>
    </mat-card>
</div>


<div style = "margin-top: 2%; margin-bottom: 5%">
    <mat-card>
        <p-table [columns]="cols" style="margin-top: 1%;"[value]="response" [scrollable]="true"  styleClass="p-datatable-gridlines" [showCurrentPageReport]="true" [paginator]="true" [rows]="15" (onPage)="paginate($event)" scrollHeight="400px" scrollWidth="400px" [resizableColumns]="true" [autoLayout]="true">
            <ng-template pTemplate="caption" style = "margin-bottom: 2%;">
                History Report
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" style="border: 1px solid black">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-response let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" style = "border: 1px solid black">
                        {{response[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-card>
</div>