<div class="page-container" ui-veiw="header" autoscroll="true">
  <header>
    <div style="margin-top: 20px;">
      <button *ngIf="loggedIn=='true'" mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon style = "color: white;">{{isMenuOpen ? 'menu_open' : 'menu'}}</mat-icon>
      </button>
    </div>
    <div style="margin-right: 43%; margin-top: 1.5%">
      <h1 style="color: white">
        Software Design Project
      </h1>
    </div>
  </header>

  <mat-sidenav-container class="sidenav-container" style="margin-bottom: 2%">
    <mat-sidenav role="navigation" #sidenav autoFocus="true" mode="side" [(opened)]="isMenuOpen" class="sidenav">
      <div class="seperator">
        <p class="title" style="margin-left: 10px">Software Design Project</p>
      </div>
      <a mat-button routerLink="/client-profile">Client Profile</a>
      <a mat-button routerLink="/fuel-form">Fuel Form</a>
      <a mat-button routerLink="/fuel-history">Fuel History</a>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="footer" #footer>
  <h4 style="margin-top: 10px;">© Software Design Project</h4>
</div>